@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

span{
  font-family: 'Satisfy', cursive;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cen{
  color: rgba(96, 240, 213, 0.38);
}
.tre{
  color: rgba(249, 48, 213, 0.74);
}
.de{
  color: rgba(132, 48, 17, 0.9);
}
.cal{
  color: rgba(225, 185, 214, 0.49);
}
.cul{
  color: rgba(255, 194, 247, 0.72);
}
.navbar{
  display: flex;
  justify-content:space-between;
  background-color: black;
  font-size: 10 px;
  color: lightblue;
}
.navbar > .navbar-right >a{
  text-decoration: none;
  color:lightblue;
  margin-right: 15px;
}
.navbar > .navbar-right >a:hover{
  background-color: lightblue;
  color: black;
  padding:5px;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
  transition: 1ms;
}
.navbar > .navbar-right > .acceuil{
  background-color: lightblue;
  color: black;
  padding:5px;
  border-radius: 10px;
  cursor: pointer;
}

/************************** Header *****************************/
img{
  height: 400px;
  width: 100%;
}
.space{
  height: 30px;
  width: 100%;
}
.wise{
  background-color: lightblue;
  color: black;
  height: 80px;
  width: 100%;
  border-radius: 20px;
  margin-top: 30px;
  padding-left: 50px;
  padding: 20px;
  font-size: 70px;
}
.local{
  display: flex;
}
.local-left{
  height: 300px;
  width: 100%
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/**********************Fin du Header*******************************************************/
.space1{
  height: 15px;
  width: 100%;
}
.police{
  font-size: 30px;
  color: yellow;
}
.presentation{
  margin-top: 10px;
  padding:20px;
  text-align: center;
  font-size: 30px;
}
.space4{
  height: 50px;
  width: 100%;
}
.card{
  background-color: lightblue;
}
.space4{
  height: 25px;
  width: 100%;
}
/************************** Footer ****************************************/
footer{
  background-color: rgba(0,0,0,1);
  padding-top: 30px;
  color: white;
  width: 100%;
}
.footer > h1 {
  writing-mode : vertical-rl;
  font-size: 70px;
  transform: rotate(180deg);
}
hr{
  background-color: white;
  height: 4px;
  width: 50%;
  margin-left: 0;
}
.espace{
  background-color: lightblue;
  color: black;
  font-size: 0.5px;
}
