@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,500&family=Poppins&family=Prata&display=swap');
body{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Prata', serif;

}
html{
    --res: calc(0.01 * 10vmin);
}

/************************* DEBUT DE LA NAVBAR **************************************/

nav {
    background-color: black;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
}
a.active{
    color: rgb(255, 94, 0);
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: none;
    color: rgb(255, 94, 0);
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.logo{
    font-family: 'Playfair Display', serif;
}
#check {
    display: none;
}
.gold{
    color: #FFE55C;
}
.maaron {
    color: #582900;
}
.de {
    color: rgb(255, 94, 0);
}
@media (max-width:900px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover ,a.active{
        color: rgb(255, 94, 0);
        background: none;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
.wisedan{
    font-size: calc(64 * var(--res));
}
/************************************************ FIN DE LA NAVBAR ***********************************/
/******************* DEBUT DE L'INPUT ****************************************/

.wisedan{
    border: none;
    color:#582900;
    font-size: calc(64 * var(--res));
    margin-left: calc(80 * var(--res));;
    padding-top: 50px;
    width: 100%;
}
.wisedan:hover{
    -webkit-text-stroke: 2px rgb(255, 94, 0);
    color: rgb(255, 94, 0);
}
@media screen (min-width:800px){
    .wisedan{
        margin-left: 100px;
    }
    
}
.espace{
    height: 15px;
    width: 100%;
    color: white;
    background-color: white;
}
.wise .carousel-item{
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.wise .carousel-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
    
}
.wise .carousel-item .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.wise .carousel-item h2{
    font-size: 80px;
    color: #ffffff;
    margin: 0 0 10px;
    opacity: 0;
}
.wise .carousel-item p{
    font-size: 30px;
    margin: 0;
    color: #eeeeee;
    opacity: 0;

}
.wise .carousel-item.active h2{
    animation: fadeInLeft 0.5s ease forwards;
}
.wise .carousel-item.active p{
    animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
/************************* Fin de l'input et de la responsivité *************************************************/
/************************************************ Fin REDIMENSIONNEMENT DU CAROUSSELLE ****************************************/
.merci {
    -webkit-text-stroke: 2px blue;
    color: blue;
}
.localisation{
    margin-top: 150px;
    background-color: black;
    height: 300px;

}
.next
{
    height: 3px;
    background-color: black;
}
.wise1{
    padding-top: 40px;
}
.wise2{
    padding-top: 40px;
    color: white;
}
.localisation a{
    text-decoration:none;
    color: white;
    margin-top: 50px;
    
}
.localisation a:hover{
    color: rgb(255, 94, 0);
}
.wise3{
    padding-top: 40px;
    color: white;
}
.daniel{
    padding-top: 200px;
    margin-left: 200px;
}
.wise1{
    -webkit-text-stroke: 2px rgb(255, 94, 0);
    color: rgb(255, 94, 0);
}
.daniel{
    -webkit-text-stroke: 2px rgb(255, 94, 0);
    color: rgb(255, 94, 0);
}
footer {
    margin-top: 60px;
    font-family: 'Playfair Display', serif;
}
.w{
    color: rgb(255, 94, 0);
}